:root {
  /* Use the default fonts with sans-serif as the main font. */
  --font-family: sans-serif;
  --font-family-heading: serif;
  --font-family-monospace: monospace;
  --code-color: #333;

  --line-height: 1.35rem;
  --parsep: 0.3375rem;
}

@media (min-width: 70rem) {
  html {
    text-align: justify;
  }
  #content {
    margin-left: calc(min(40ex,33%));
  }
  #toc {
    width: 40ex;
    max-width: 33%;
  }
}

@media (max-width: 70rem) {
  html {
    text-align: justify;
  }
  #toc {
    width: 0ex;
  }
}

@media (max-width: 40rem) {
  html {
    text-align: left;
  }
}

body {
  font-family: var(--font-family);
  margin: auto;
  background-color: #faf9f6;
  color: #333;
  /* max-width: calc(73ch + 8*var(--line-height)); */
  hyphens: auto;
  hyphenate-limit-chars: 4 2 2;
  min-height: 100vh;
  line-height: var(--line-height);
}

p {
  margin: var(--parsep) 0;
}

li {
  margin: calc(0.5*var(--parsep)) 0 0 0;
}

/* p + p { */
/*   margin: 0; */
/*   text-indent: var(--line-height); */
/* } */

ul + p, ol + p, dl + p {
  margin: calc(2*var(--parsep)) 0 0 0;
  text-indent: 0;
}

/* li > p { */
/*   margin: 0; */
/* } */

h1 {
  font-family: var(--font-family-heading);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  /* text-shadow: 0.05em 0.05em 0.02em #DDD; */
  line-height: calc(2*var(--line-height));
  font-size: 2.0rem;
  margin: calc(2*var(--line-height)) 0;
  /* margin: calc(3*var(--line-height)) 0 calc(2*var(--line-height)) 0; */
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: var(--line-height);
  margin: var(--line-height) 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: var(--line-height);
  margin: var(--line-height) 0;
}

h4 {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: var(--line-height);
  margin: var(--line-height) 0;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  line-height: var(--line-height);
  margin: var(--line-height) 0;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
  line-height: var(--line-height);
  margin: calc(0.75*var(--line-height)) 0;
  color: #666;
}

h1 a {
  text-decoration: none;
  color: #333;
}
h2 a {
  text-decoration: none;
  color: #333;
}
h3 a {
  text-decoration: none;
  color: #333;
}
h4 a {
  text-decoration: none;
  color: #333;
}
h5 a {
  text-decoration: none;
  color: #333;
}
h6 a {
  text-decoration: none;
  color: #333;
}

pre {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-in-pre);
}

code {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-monospace-in-code);
  color: var(--code-color);
  hyphens: none;
}

hr {
  height: 0.2em;
  border: 0;
  color: #CCCCCC;
  background-color: #CCCCCC;
}

blockquote, table, pre {
  line-height: var(--line-height);
  margin: var(--parsep) 0 0 0;
}

pre {
  background-color: #F5F3ED;
  color: #333;
  border: 0.1em solid #CCCCCC;
  line-height: 1.25em;
  overflow: auto;
  padding: 0 0 calc(0.5*var(--parsep)) 0;
}

ul, ol, dl {
  padding-left: var(--line-height);
  margin: 0;
}

a, a .mjx-math * {
  color: #333;
  text-decoration: underline;
  text-decoration-thickness: 0.04em;
  text-underline-offset: 0.1em;
}

h1 a .mjx-math *,
h2 a .mjx-math *,
h3 a .mjx-math *,
h4 a .mjx-math *,
h5 a .mjx-math *,
h6 a .mjx-math * {
  text-decoration: none;
}

a:hover, a:hover .mjx-math * {
  text-decoration: underline;
}

/* MathJax subscripts, accents, etc */
a .mjx-sub *, a:hover .mjx-sub *,
a .mjx-over *, a:hover .mjx-over * {
  text-decoration: none;
}

img {
  display: block;
  max-width: 90%;
  margin: auto;
}

.reference-bullet {
  display: block;
  text-align: left;
  margin-top: calc(2*var(--parsep));
  hyphens: none;
}

.reference {
  /* padding: 0.3em 0; */
  /* background-color: #EEEEEE; */
}

.locative-type {
  font-weight: bold;
  color: #444;
}

.locative-type a {
  text-decoration: none;
}

.reference-object {
  background-color: #EBE8E2;
  /* The live browser does not lowercase. Balance the space around
   * uppercase characters manually. */
  padding: 0.1em 0.22em 0.02em 0.22em;
  border: solid 1px #777;
  font-weight: bold;
  letter-spacing: 0.02em;
  /* Counter the effect of boldness by slightly reducing the size. */
  font-size: 98%;
}

.reference-object a, .reference-object a * {
  text-decoration: none;
  border-bottom: none;
}

.locative-args {
  font-style: italic;
}

.locative-args code {
  font-family: var(--font-family);
  font-size: 1rem;
}

.navigation a {
  color: #CCCCCC;
  text-shadow: none;
  border-bottom: none;
}

/* Option 1 for navigation links: just hide the links in the previous
   line. Good because there is no jumping around of content as with
   the other otptions. */

.navigation {
  display: block;
  visibility: hidden;
  margin-bottom: -1.5em;
}

.outer-navigation:hover .navigation {
  visibility: visible;
}

/* Option 2 for navigation links: heading moves right to make room for
   the links. */

/* .navigation { */
/*   display: none; */
/* } */
/*  */
/* h1:hover .navigation, */
/* h2:hover .navigation, */
/* h3:hover .navigation, */
/* h4:hover .navigation, */
/* h5:hover .navigation, */
/* h6:hover .navigation { */
/*   display: inline; */
/* } */

/* Option 3 for navigation links: heading moves down to make room for
   the links. */

/* .navigation { */
/*   display: none; */
/* } */
/*  */
/* h1:hover .navigation, */
/* h2:hover .navigation, */
/* h3:hover .navigation, */
/* h4:hover .navigation, */
/* h5:hover .navigation, */
/* h6:hover .navigation { */
/*   display: block; */
/* } */

/* Syntax highlighting with Colorize */

.symbol { color: #770055; font-style: normal; background-color: transparent; border: 0px; margin: 0px;}
a.symbol:link { color: #229955; background-color: transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:active { color: #229955; background-color: transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:visited { color: #229955; background-color: transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:hover { color: #229955; background-color: transparent; text-decoration: none; border: 0px; margin: 0px; }
.special { color: #FF5000; background-color: inherit; }
.keyword { color: #770000; background-color: inherit; }
.comment { color: #007777; background-color: inherit; }
.string { color: #777777; background-color: inherit; }
.atom { color: #314F4F; background-color: inherit; }
.macro { color: #FF5000; background-color: inherit; }
.variable { color: #36648B; background-color: inherit; }
.function { color: #8B4789; background-color: inherit; }
.attribute { color: #FF5000; background-color: inherit; }
.character { color: #0055AA; background-color: inherit; }
.syntaxerror { color: #FF0000; background-color: inherit; }
.diff-deleted { color: #5F2121; background-color: inherit; }
.diff-added { color: #215F21; background-color: inherit; }

/* Disable rainbow nesting on hover */

/* span.paren1 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren1:hover { color : inherit; background-color : #BAFFFF; } */
/* span.paren2 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren2:hover { color : inherit; background-color : #FFCACA; } */
/* span.paren3 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren3:hover { color : inherit; background-color : #FFFFBA; } */
/* span.paren4 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren4:hover { color : inherit; background-color : #CACAFF; } */
/* span.paren5 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren5:hover { color : inherit; background-color : #CAFFCA; } */
/* span.paren6 { background-color : inherit; -webkit-transition: background-color 0.2s linear; } */
/* span.paren6:hover { color : inherit; background-color : #FFBAFF; } */

#content-container {
  margin: 0;
  padding: 0 0 var(--line-height) 0;
}

#content {
  max-width: 85ex;
  padding-left: 4ch;
  padding-right: 4ch;
}

#toc {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  background: #333;
  box-shadow: inset -5px 0 5px 0px #000;
  color: #aaa;
  text-align: left;
}

#toc ul {
  font-family: sans-serif;
  font-size: 80%;
}

#toc li {
  line-height: 1.0;
}

#toc a,
#toc a * {
  text-decoration: none;
  border-bottom: none;
}

#toc hr {
  height: 0.05em;
  border: 0;
  background: #777;
}

#toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toc li {
  padding: 5px 10px;
}

#toc .toc-h2 {
  padding-left: 10px;
}

#toc .toc-h3 {
  padding-left: 20px;
}

#toc .toc-h4 {
  padding-left: 30px;
}

#toc .toc-active {
  background: #336699;
  box-shadow: inset -5px 0px 10px -5px #000;
}

#page-toc a,
#page-toc a * {
  color: #fff;
}

.menu-block {
  padding-left: 10px;
  margin-bottom: 1em;
}

#link-to-home {
  padding-left: 0;
}

.menu-block-title {
  font-size: 90%;
}

.menu-block a {
  color: #fff;
  border-bottom: none;
}

#toc-header a {
  color: #777777;
}

#toc-footer a {
  font-size: 80%;
  color: #777777;
}

#paxToDocument, #paxToApropos {
  min-width: 17em;
}
